body{
   
background:   url( image/cfgdl.rozblog\ \(7\).png);
}
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }

  /* استایل لوگو */
  .logo {
    font-size: 20px;
    font-weight: bold;
   color: rebeccapurple;
   border: 2px solid black;
   border-radius: 6px;
   width: 196px;
   background-color: red;
  }

  /* استایل منو */
  .menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

  }

  .menu li {
    float: left;
  }

  .menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: red;
  }

  .menu li a:hover {
  
    background-color: #111;
  }

  .hyh{
background: url(image/images.jpg);




  }
  .n1{


  }
  .n2{


  }
  .n3{
    
   
  }
  
  .n4{



  }