header{@media only screen and (max-width: 600px) }    
    
    body{
background:   url(image/irs01_1080x607_8MhktBm7_3369520_1671131814298477567.jpeg) ;
width: 400px;
}
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }

  /* استایل لوگو */
  .logo {
  font-size: 20px;
    font-weight: bold;
   color: rebeccapurple;
   border: 2px solid black;
   border-radius: 6px;
   width: 196px;
   background-color: red;
text-align: center;




  }


  /* استایل منو */
  .menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

  }

  .menu li {
    float: left;
  }

  .menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: red;
   
    border: 2px solid black;
    background:url(image/صص.jpg);
    margin-top: 3px;
  }

  .menu li a:hover {
  
    background-color: #111;
  }

  .hyh{
background: url(image/images.jpg);




  }
  .n1{


  }
  .n2{


  }
  .n3{
    
   
  }
  
  .n4{



  }