header{@media only screen and (max-width: 600px) }    
    
    body{
background:   url(image/irs01_1080x607_8MhktBm7_3369520_1671131814298477567.jpeg) ;
width: 400px;
}
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }

  /* استایل لوگو */
  .logo {
  font-size: 20px;
    font-weight: bold;
   color: rgb(255, 0, 0);
   border: 2px solid black;
   border-radius: 6px;
   width: 196px;
   background:url(image/23729458-6345-b__3073.jpg);
text-align: center;
text-shadow: 2PX 2PX 5PX red;



  }


  /* استایل منو */
  .menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

  }

  .menu li {
    float: left;
  }

  .menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: red;
   text-shadow: 2px 2px 5px red;
    border: 2px solid black;
    background:url(image/23729458-6345-b__3073.jpg);
    margin-top: 5px;
    border-radius: 7px;
  }

  .menu li a:hover {
  
    background-color: #111;
  }

  .hyh{
background: url();



  }
  .n1{


  }
  .n2{
background: url(image/1476709_big.jpg);

  }
  .n3{
    
   
  }
  
  .n4{



  }
  .bhb{
width: 352px ;
color: red;
font-size: 18px;
border: 2px solid rebeccapurple;
border-radius: 6px;
background: url(image/images.jpg);
text-shadow: 2px 2px 5px red;
  }
  .vvr{
width: 200px;
height: 300px;
margin-top: -55px;
  }
  .kkk{
font-size: x-large;
color: red;
text-decoration: none;
text-shadow: 2px 2px 5px rgb(255, 0, 0);
  }

.fff{

    text-shadow: 2px 2px 5px red;
}